<html>
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Compiled and minified JavaScript -->
  
  <script src="/socket.io/socket.io.js"></script>
  <script>
  </script>
  <script src="js/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
  <div id="title">SEQUENCE</div>
  <div class="col l3" id="gameOptionsCol">
  <div id="gameOptions">
  Please select an option from below...</div>
    <div class="row">
      <a class="gameOptionBtn waves-effect btn teal darken-1" onclick="loadNewGameMenu()" placeholder='Name'>Start New </a>
    </div>
    <div class="row">
      <a class="gameOptionBtn waves-effect btn teal darken-1" onclick="joinGame()" placeholder='Game Key'>Join Existing </a>
    </div>
  </div>
</div>





</body>
</html>