<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script src="/js/lobby.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script></script>
  
  </head>
  <body >
   <nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo">Sequence</a>
    </div>
  </nav>
  <div class=" col l3">
    <div class="row">Game created by <%= owner %> </div>  
    <ul class="collection" id="playerList">
      <% for(var key in players) { %>
      <li class="collection-item"> <%= players[key] %> </li>
      <% } %>
    </ul>
    <% if(players[playerKey] == owner) { %>
      <a class="waves-effect waves-light btn" href="javascript: startGame();">Start Game</a>
      <% } %>
  </div>
  </body>
</html>