<div class="input-field col s10">
  <input placeholder="Player Name" id="playerName" type="text" class="validate">
</div>
<div class="input-field col s10">
  <input placeholder="Game Name" id="gameName" type="text" class="validate">
</div>
<div class="row">
 <div class="col l6" id="gameType">
  <p>
    <input name="group1" type="radio" id="public" />
    <label for="public">Public </label>
  </p>
  <p>
    <input class="white" name="group1" type="radio" id="private" />
    <label for="private">Private </label>
  </p>
</div>
<div class="col l6" id="numPlayers">
  <p>
    <input name="group2" type="radio" id="2players" />
    <label for="2players">2 Player</label>
  </p>
  <p>
    <input class="white" name="group2" type="radio" id="3players" />
    <label for="3players">3 Player</label>
  </p>
</div>
</div>
</div>
<a class="waves-effect transparent btn" id="startGame" onclick="newGame()" >Create Game</a>